* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: rgb(69, 115, 230);
}

.white {
  background-color: rgb(235, 217, 174);
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: rgb(6, 221, 6);
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: lightgray;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-bottom: 15px;
  color: #1e212c;
}

.modal p {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  width: 97%;
  padding: 10px 15px;
  font-size: 16px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background: #5a52d5;
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel > :first-child {
  background-color: rgb(211, 107, 4);
}
.panel > :first-child:hover {
  background-color: rgb(226, 201, 142);
}
